@model IndexVehiclesVM
<script src="https://kit.fontawesome.com/0a4f4233e3.js" crossorigin="anonymous"></script>


@if (User.IsInRole("Admin"))
{
	<p id="my-p">
		<a asp-action="Create" class="btn bg-warning">Create New</a>
	</p>
}

<table class="table table-hover table-striped">
	<thead class="thead-dark">
		<tr>
			<th>
				Brand
			</th>
			<th>
				Model
			</th>
			<th>
				Year
			</th>
			<th>
				Price per day
			</th>
			<th>Vehicle Type</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Vehicles)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Brand)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Model)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.PricePerDay) лв
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.VehicleTypeName) @(string.IsNullOrEmpty(item.VehicleTypeName) ? "N/A" : "")
				</td>

				<td>
					@if (User.IsInRole("Admin"))
					{
						<a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
					}
					|
					<a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
					@if (User.IsInRole("Admin"))
					{
						<a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
					}
					|
					<form asp-action="AddToFavorites" asp-controller="Favorites" method="post" style="display:inline;">
						<input type="hidden" name="vehicleId" value="@item.Id" />
						<button type="submit" class="border-0 bg-transparent p-0">
							<i class="fa-solid fa-heart"></i>
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
<style>
	body {
		margin: auto;
		background-color: whitesmoke;
	}

	h1 {
		padding: 20px;
	}

	i {
		color: #292929;
	}
</style>
<partial name="_PagingPartial" />
