@model IEnumerable<RentACar.Models.Favorite>
<script src="https://kit.fontawesome.com/0a4f4233e3.js" crossorigin="anonymous"></script>

<h1 class="text-lg-center">My Favorites</h1>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price Per Day</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var favorite in Model)
        {
            <tr>
                <td>@favorite.Vehicle.Brand</td>
                <td>@favorite.Vehicle.Model</td>
                <td>@favorite.Vehicle.Year</td>
                <td>@favorite.Vehicle.PricePerDay лв</td>
                <td>
                    <!-- Remove button -->
                    <form asp-action="Remove" asp-controller="Favorites" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@favorite.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        margin: auto;
        background-color: whitesmoke;
    }

    h1 {
        padding: 20px;
    }

    i {
        color: #292929;
    }
</style>
