@model BookVehicleVM

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
                Price per day
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDay) лв
                </td>
                <td>
                    @if(User.IsInRole("Admin"))
                    {
                        <a asp-action="BookForAdmin" asp-route-carId="@item.Id" asp-route-requestId="@Model.RequestId"><i class="fa-solid fa-book-open"></i></a>
                    }
                    @if(User.IsInRole("Client"))
                    {
                        <a asp-action="BookForClient" asp-route-carId="@item.Id" asp-route-requestId="@Model.RequestId"><i class="fa-solid fa-book-open"></i></a>
                    }
                    | <a asp-action="BookDetails" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" />

<style>
    body {
        margin: auto;
        background-color: whitesmoke;
    }
    i {
        color: #292929;
    }
</style>
